.maindiv {
    width: 100%;
    padding: 60px;
    text-align: center;
    display:inline-block;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
    display: inline-block;
    border: 0.5px solid #334467;
    border-radius: 10px;
    padding: 10px;
}

.mainitems {
    width: 70%;
    height: auto;
    display: inline-block;
    margin: 0px;
}

.box{
    display:inline-block;
    width:100%;
}

    .box img {
        display: inline-block;
        width: 20%;
        height: auto;
    }

#portfolio {
    display: inline-block;
}